.cs-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  font-family: "Segoe UI", sans-serif;
  width: 100%;
  box-sizing: border-box;
}

.cs-header {
  font-weight: 600;
  color: #0077b6;
  margin-bottom: 15px;
}

.cs-row {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)) auto;
  gap: 15px;
  align-items: end; */
  display: flex
;
    flex-wrap: wrap;
    gap: 12px;
    align-items: flex-end;
    padding: 15px 15px;
}

.cs-group {
  /* display: flex;
  flex-direction: column; */
  display: flex
;
    flex-direction: column;
    flex: 0 0 190px;
    min-width: 180px;
}

.cs-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.cs-group select,
.cs-group input {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.date-range {
  display: flex;
  align-items: center;
  gap: 5px;
}

.type-toggle {
  display: flex;
  gap: 5px;
}

.type-toggle button {
  padding: 5px 12px;
  border: 1px solid #00a3ad;
  background: #fff;
  color: #00a3ad;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.type-toggle button.active {
  background-color: #00a3ad;
  color: #fff;
}

.go-button-wrapper {
  align-self: end;
}

.go-btn {
  padding: 8px 20px;
  background-color: #fff;
  border: 1px solid #0077b6;
  color: #0077b6;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.go-btn:hover {
  background-color: #0077b6;
  color: #fff;
}

.required {
  color: red;
}
.cs-main{
      border: 1px solid #d0d7de;
}